<form class="" action="/edit-client" method="post">
    <div class="gq gg ala">

  <input class="form-control" type="text" name="name" placeholder="votre nom" value="{{data.name}}">
</div>

    <div class="gq gg ala">

  <input class="form-control" type="text" name="address" placeholder="votre address"  value="{{data.address}}">
</div>

    <div class="gq gg ala">

  <input class="form-control" type="text" name="tel" placeholder="votre RC" value="{{data.tel}}">
</div>
<div class="gq gg ala">

<input class="form-control" type="text" name="email" placeholder="votre RC" value="{{data.email}}">
</div>
<div class="gq gg ala">

  <input class="form-control" type="text" name="rc" placeholder="votre RC" value="{{data.rc}}">
</div>
 <div class="gq gg ala">

  <input class="form-control" type="text" name="ai" placeholder="votre RC" value="{{data.ai}}">
</div>
 <div class="gq gg ala">

  <input class="form-control" type="text" name="nif" placeholder="votre RC" value="{{data.nif}}">
</div>
<div class="gq gg ala">

  <input class="form-control" type="text" name="nis" placeholder="votre RC" value="{{data.nis}}">
</div>

  <input  type="hidden" name="id" value="{{data._id}}">
  <input class="form-control ce apo" type="submit" value="GO GO">

</form>
