<input class="form-control ce app" type="button" name="button" v-show="seet2" v-model="sea" v-on:click='loadquto' value="{{data._id}}">


  <table class="cl" v-show="seet2">
    <thead class="thead-inverse">
      <th>
        #
      </th>
      <th>
        #
      </th>
      <th>
        #
      </th>
    </thead>
    <tbody>
      <div >
        {{#each data}}
      {{#each this.product}}
      <tr>
        <td>
          {{this.name}}
        </td>
        <td>
          {{this.qte}}
        </td>
        <td>
          {{this.prix}} DA
        </td>
      </tr>
      {{/each}}
      {{/each}}
        </div>
    </tbody>
  </table>



  <input class="form-control" type="text" v-show="seet" class="product" name="sea1" v-model="sea1" v-on:keyup="findItem" value="" placeholder="Ajouter un produit" autocomplete="off">
  <ul>
       <li v-for="ite in items.data" v-show="seet" >
           <a v-on:click="addItem(ite)">${ite.name} ${ite.prix} DA</a>
       </li>
   </ul>

  <div v-for="i in prd" v-show="seet">
  <div class="gq gg ala">
  <input class="form-control" type="text" class="product" value="${i.name}">
 </div>
  <div class="gq gg ala">
  <input class="form-control" type="number"  v-model="p[$index]" class="product" value="${i.prix}">
 </div>
  <div class="gq gg ala">
  <input class="form-control" type="number" v-model="q[$index]" number value="1">
  </div>
  <div class="gq gg ala">
  <small>  ${p[$index] * q[$index]} Da</small>
  <button class="ce apo" type="button" v-on:click="addItems(i,q[$index],p[$index])" number value="Ajouter ">
  <span class="bv ahp"></span>
  </button>
   </div>
 </div>
<form action="/quota/{{data._id}}" method="post">
  <input class="form-control" type="hidden" name="name" value="" >
  <input class="form-control" type="hidden" name="prix" value="" >
  <input class="form-control" type="hidden" name="qte" value="" >
  <table class="cl" v-show="seet">
   <thead class="thead-inverse">
       <tr>
           <th>#</th>
           <th>name            </th>
           <th>                total            </th>
           <th>                action            </th>
       </tr>
   </thead>
    <tbody >
        <tr v-for="it in final" >
          <td>
            <input class="form-control" type="text" name="name" value="${it.name}" >
          </td>
          <td>
             <input class="form-control" type="text" v-model="prix[$index]" v-on:click="mod" name="prix" value="${it.prix}" >
             </td>
          <td>
             <input class="form-control" type="text"  v-model="qte[$index]" v-on:click="mod" name="qte" value="${it.qte}" >
             </td>
          <td>
             <button type="button" class="ce apo" v-on:click="updateItems(it,prix[$index],qte[$index],$index)" name="button">
               <span class="bv xo"></span>
             </button>
             <button type="button" class="ce apr" v-on:click="removeItem($index)" name="button">
               <span class="bv xn"></span>
             </button>
             </td>

        </tr>
      </tbody>
    </table>
    <div class="apu amg da">
      <h4 v-show="seet2" class="ani">Le : {{data.date}}</h4>
      <h4 v-show="seet2" class="ani">Total : {{data.total}} DA</h4>
      <h4 v-show="seet" class="ani">Total : ${tata} DA</h4>
      <h4 class="ani">TV : ${tva} DA</h4>
      <h4 class="ani">TTC: ${total} DA</h4> <br>
 <input type="hidden" name="total" value="${tata}" >
<input type="submit" class="ce app" value="Sauvgarder">
</div>
</form>

<script type="text/javascript" src="../javascripts/invoice_show.js"></script>
